@font-face {
    font-family: 'butlerlight';
    src: url('fonts/butler_light-webfont.woff2') format('woff2'),
        url('fonts/butler_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .box {
        margin: auto;
        width: 90%;
        padding: 10% 5%;
    }

    .left {
        width: 100%;
        max-height: 100%;
    }

    .right {
        width: 100%
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .container {
        flex-direction: row;
    }

    .box {
        margin: auto;
        width: 80%;
        height: 60%;
        padding: 10% 5%;
    }

    .left {
        width: 40%;
        max-height: 100%;
    }

    .right {
        margin-left: 6px;
        width: calc(60% - 6px);
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        flex-direction: row;
    }

    .box {
        margin: auto;
        width: 50%;
        height: 50px;
        padding: 20% 10%;
    }

    .left {
        width: 40%;
        max-height: calc(100vh - 24px);
    }

    .right {
        margin-left: 12px;
        width: calc(60% - 12px);
    }
}

body {
    background-color: #f2efea;
}

h1 {
    font-family: 'butlerlight', 'Cardo', serif;
    font-size: 58px;
    line-height: 60px;
}

h2 {
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 500;
}

p {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.container {
    margin: 12px;
    color: #2c2d36;
    background-color: #f2efea;
    display: flex;
    flex-wrap: wrap;
}

.right {
    background-color: white;
}

.left>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box>img {
    width: 20px;
    height: 20px;
    margin: 7px
}