@font-face {
    font-family: 'fallingsky';
    src: url('fonts/fallingSkyMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'fallingsky';
    src: url('fonts/fallingSkySemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: #F3F3F3;
    font-family: 'FallingSky', 'Roboto', sans-serif;
    margin: 0px;
}

.card {
    background-color: white;
    border-radius: 12px;
    margin: 12px;
    width: 321px;
    height: 110px;
    display: flex;
    flex-direction: row;
    box-shadow: 8px 8px 16px lightgrey;
}

.left {
    padding: 8px 25px;
    width: 175;
    line-height: 1.2em;
}

.right {
    margin: 16px 16px 16px 0px
}

h3 {
    font-variant: small-caps;
    font-size: 13px;
    letter-spacing: 0.05rem;
    line-height: 0.3em;
    color: grey;
}

h2 {
    letter-spacing: -0.00em;
    font-size: 14.5px;
    font-weight: 600;
    color: #222;
}